@model List<DuLichDLL.Model.DL_Place>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
@if (null != Model)
{
    foreach(var item in Model)
    {<input  type="text" value="@item.Name"/>
<br/>}
}
