@model List<DuLichDLL.Model.webpages_Roles>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage</h2>
@if (Model != null)
{
    <table class="table table-bordered table-condensed">
        <tr class="nohover">
            <th>#</th>
            <th>Role Name</th>
            <th>Number User</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>@item.RoleName</td>
                <td>@item.NumberUser</td>
                <td style="text-align:center"><a href="@Url.Action("Edit", "ManagerUserRole", new { roleId = @item.RoleId })" class="manageUser fancybox.iframe">
                    <img src="/Content/themes/custom/Image/User-Light.png"
                        onmouseover="this.src='/Content/themes/custom/Image/User-Dark.png';"
                        onmouseout="this.src='/Content/themes/custom/Image/User-Light.png'" /></a></td>
            </tr>
        }
    </table>
}
<style>
    body {
         text-align: center;
    }   
    h2 {
        border-bottom: 2px solid #ff6a00;
          
    }
    tr:hover, tr.selected {
        background-color: #FFCF8B;
    }
    table .nohover{
    background: #E1EFBB;   
}
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('.manageUser').fancybox({
            maxWidth: 600,
            fitToView: false,
            width: '600px',
            height: '530px',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            padding: 10,
            afterClose: function () { location.reload(false); }
        });
    });
</script>