@model List<DuLichDLL.Model.DL_Place>
@{
    ViewBag.Title = "AddPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LIST PLACE</h2>
<form id="frmMain" method="post" action="#">
@if (null != Model)
{
     var pageSize = int.Parse(ViewData[WebDuLichDev.Enum.PageInfo.PageSize.ToString()].ToString());
    var pageNum = int.Parse(ViewData[WebDuLichDev.Enum.PageInfo.PageNum.ToString()].ToString());
    var page = int.Parse(ViewData[WebDuLichDev.Enum.PageInfo.Page.ToString()].ToString());

    <input type="hidden" value="@ViewData["OrderBy"]" name="orderBy" id="orderBy" />
    <input type="hidden" value="@ViewData["OrderDirection"]" name="orderDirection"id="orderDirection" />
    
    <div class="container-fluid">
        <div class="row-fluid">
            <button class="btn btn-primary"> Add new</button>
        </div>
        @foreach (var item in Model)
        { 
            <div class="row-fluid">
                <div class="span10">
                        <ul class="thumbnails">   
                            @if(null == item.Avatar || string.IsNullOrWhiteSpace(item.Avatar))
                            {   <li class="span4" id="">
                                    <a class=thumbnail><img src="/Data/Avatar/place/@WebDuLichData.PathAvatarDefault" alt='' /></a>
                                </li>
                            }
                            else
                            {
                              <li class="span4" id=""><a class=thumbnail><img src="/Data/Avatar/place/@item.Avatar" alt='' /></a></li>
                            }
                        </ul>
                </div>
                <div class="span2">
                    <button class="btn">Edit</button>
                </div>
            </div>
        }
    </div>
     <table>
            <tr>
                @Html.Partial("p_Pagination", null, ViewData)
            </tr>
        </table>
}

</form>