@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddCity</h2>

<a class="btn sbtn-primary" href="">Link</a>
<button class="btn" type="submit">
    Button
</button>
<input class="btn" type="button"
    value="Input">
<input class="btn" type="submit"
    value="Submit">
