USE [dulichdev]
GO
/****** Object:  StoredProcedure [dbo].[p_A_RolesTranslation_Insert]    Script Date: 2/12/2013 7:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		CONGHAU 
-- Create date:	10/5/2013
-- Description:	
-- Revisions:	
-- =============================================
Create Procedure [dbo].[p_A_RolesTranslation_Insert]
	@M_LanguageID bigint,
	@A_RoleID bigint,
	@RoleName nvarchar (50),
	@CreatedBy bigint,
	@UpdatedBy bigint,
	@Status int
AS
Begin
	SET NOCOUNT ON
	insert into A_RolesTranslation
		( M_LanguageID, A_RoleID, RoleName, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate, Status)
	values
		(@M_LanguageID,@A_RoleID,@RoleName,@CreatedBy,GETDATE(),@UpdatedBy,GETDATE(),@Status)

	select SCOPE_IDENTITY()
End

GO
